@model IEnumerable<CCSVolunteerMVC.Models.CompletedTraining>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.volID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.volTrnID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cmpTrnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cmpTrnComments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.volID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.volTrnID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cmpTrnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cmpTrnComments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.completedTrainingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.completedTrainingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.completedTrainingID })
        </td>
    </tr>
}

</table>
